:root {
  --white: hsl(0, 0%, 100%);
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --font: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--dark-cyan);
  font-family: var(--font);
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}

h1,
h2 {
  font-size: 18px;
  color: var(--very-dark-desaturated-blue);
}

h1.name {
  margin-bottom: 8px;
}

p.city {
  margin-top: 0;
}

p,
span {
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

.stats p {
  font-size: 12px;
  letter-spacing: 1px;
  margin: 5px;
}

.stats h2 {
  margin: 0;
}

.stats {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.stats section {
  display: flex;
  flex-direction: column;
  padding: 15px 0 20px;
}

.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--dark-cyan);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;

  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 50vw bottom 40vh, left 50vw top 50vh;
}


.card {
  background-color: var(--white);
  max-width: 350px;
  height: 375px;
  border-radius: 15px;
  text-align: center;
  z-index: 2;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

hr {
  width: 100%;
  border-top: thin;
  margin-bottom: 0;
  font-weight: 700;
}

span.age {
  margin: 5px;
}

img.banner {
  margin-bottom: 70px;
}

img.circle {
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 90px;
  width: 100px;
  box-sizing: content-box;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--very-dark-desaturated-blue);
}

.attribution a {
  color: hsla(0, 0%, 100%, 0.65);
}
